name: deploy frontend

on:
    workflow_dispatch:
    push:
        branches:
            - main

env:
    DOCKER_IMAGE_NAME: repl
    VIRTUAL_MACHINE_USERNAME: ubuntu

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Set up docker buildx
              uses: docker/setup-buildx-action@v2

            - name: Log in to dockerub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_HUB_USERNAME }}
                  password: ${{ secrets.DOCKER_HUB_TOKEN }}

            - name: Build and push docker image
              uses: docker/build-push-action@v2
              with:
                  context: .
                  file: ./docker-files/dockerfile.frontend
                  push: true
                  tags: ${{ secrets.DOCKER_HUB_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:latest
                  build-args: |
                      NEXT_PUBLIC_BACKEND_DOMAIN=${{ secrets.NEXT_PUBLIC_BACKEND_DOMAIN }}

            - name: Deploy to Virtual Machine
              uses: appleboy/ssh-action@master
              env:
                  AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
                  AUTH_GOOGLE_ID: ${{ secrets.AUTH_GOOGLE_ID }}
                  AUTH_GOOGLE_SECRET: ${{ secrets.AUTH_GOOGLE_SECRET }}
                  AUTH_GITHUB_ID: ${{ secrets.AUTH_GITHUB_ID }}
                  AUTH_GITHUB_SECRET: ${{ secrets.AUTH_GITHUB_SECRET }}
                  AUTH_RESEND_KEY: ${{ secrets.AUTH_RESEND_KEY }}
                  DATABASE_URL: ${{ secrets.DATABASE_URL }}
                  DOCKER_IMAGE_NAME: ${{ env.DOCKER_IMAGE_NAME }}
                  DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
                  NODE_ENV: ${{ secrets.NODE_ENV }}
              with:
                  host: ${{ secrets.HOST_IP }}
                  key: ${{ secrets.SSH_KEY }}
                  username: ${{ env.VIRTUAL_MACHINE_USERNAME }}
                  envs: AUTH_SECRET,AUTH_GOOGLE_ID,AUTH_GOOGLE_SECRET,AUTH_GITHUB_ID,AUTH_GITHUB_SECRET,AUTH_RESEND_KEY,DATABASE_URL,DOCKER_IMAGE_NAME,DOCKER_HUB_USERNAME,NODE_ENV
                  script: |
                      echo "Stopping and Removing old Container"
                      sudo docker stop $DOCKER_IMAGE_NAME || true
                      sudo docker rm   $DOCKER_IMAGE_NAME || true

                      echo "Removing old repl Image" 
                      sudo docker rmi $DOCKER_HUB_USERNAME/$DOCKER_IMAGE_NAME:latest || true

                      echo "Pulling new Image" 
                      sudo docker pull $DOCKER_HUB_USERNAME/$DOCKER_IMAGE_NAME:latest

                      echo "Starting new Frontend Container"
                      sudo docker run -d --name $DOCKER_IMAGE_NAME -p 3000:3000 \
                          -e DATABASE_URL=$DATABASE_URL \
                          -e AUTH_SECRET=$AUTH_SECRET \
                          -e AUTH_GOOGLE_ID=$AUTH_GOOGLE_ID \
                          -e AUTH_GOOGLE_SECRET=$AUTH_GOOGLE_SECRET \
                          -e AUTH_GITHUB_ID=$AUTH_GITHUB_ID \
                          -e AUTH_GITHUB_SECRET=$AUTH_GITHUB_SECRET \
                          -e AUTH_RESEND_KEY=$AUTH_RESEND_KEY \
                          -e AUTH_TRUST_HOST=true    \
                          -e AUTH_URL=https://repl.techynimbus.com \
                          --restart unless-stopped \
                          -e NODE_ENV=$NODE_ENV \
                          $DOCKER_HUB_USERNAME/$DOCKER_IMAGE_NAME:latest

                       echo "Verifying Deployment"
                       sudo docker ps
                       
                       echo "Deployment Successfull"
